[meta]
  dir = "/var/lib/influxdb/meta"
  retention-autocreate = true
  # logging-enabled = true
  # pprof-enabled = false
  # lease-duration = "1m0s"

[data]
  enabled = true
  dir = "/var/lib/influxdb/data"
  wal-dir = "/var/lib/influxdb/wal"
  # wal-logging-enabled = true
  # trace-logging-enabled = false
  # query-log-enabled = false
  # cache-max-memory-size = 524288000
  # cache-snapshot-memory-size = 26214400
  # cache-snapshot-write-cold-duration = "1h"
  # compact-min-file-count = 3
  # compact-full-write-cold-duration = "24h"
  # max-points-per-block = 1000

[http]
  enabled = true
  bind-address = ":{{ influxdb_http['port'] }}"
  auth-enabled = {{ 'true' if influxdb_auth['state'] else 'false' }}
  # log-enabled = false
  # write-tracing = false
  # pprof-enabled = false
  # https-enabled = false
  # https-certificate = "/etc/ssl/influxdb.pem"
  # https-private-key = ""
  # max-row-limit = 10000
  # realm = "InfluxDB"

[[graphite]]
  enabled = true
  # database = "graphite"
  # retention-policy = ""
  # bind-address = ":2003"
  # protocol = "tcp"
  # consistency-level = "one"
  # batch-size = 10000
  # batch-pending = 50
  # batch-timeout = "10s"
  # udp-read-buffer = 0
  separator = "_"
  # tags = ["region=us-east", "zone=1c"]
  templates = [
    {% for v in influxdb_graphite_tpl | union(influxdb_graphite_tpl_custom['add']) | difference(influxdb_graphite_tpl_custom['del']) %}
        "{{v}}",
    {% endfor %}
  ]

[continuous_queries]
  # enabled = true
  # log-enabled = true
  # run-interval = "1s"

[retention]
  # enabled = true
  # check-interval = "30m"
